<div>
  <table>
    <tr>
      <td>Username:</td>
      <td><input type="text" [(ngModel)]="username" required/></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" [(ngModel)]="password1" required/></td>
    </tr>
    <tr>
      <td>Retype password:</td>
      <td><input type="password" [(ngModel)]="password2" required/></td>
    </tr>
    <tr>
      <td>Email address:</td>
      <td><input type="email" [(ngModel)]="email" required/></td>
    </tr>
    <tr>
      <td><input type="submit" value="Register" (click)="register()" /></td>
    </tr>
  </table>
</div>